/*Yleiset asetukset kaikille näkymille:*/
*{
    margin: 0 auto;
}
/*Navigointipalkki kiinteä, liikkuu mukana:*/
header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
}

/* Navigointipalkin tyyli */
.navbar {
    display: flex;
    border-bottom-style: groove;
}

/* Navigointipalkin linkkien tyyli */
.navbar a {
    display: flex;
    flex: 1;
    text-decoration: none;
    color: grey;
    font-size: 1.2rem;
    justify-content: center; /* Keskittää tekstin vaakasuunnassa */
    padding: 1rem;
    transition: background-color 0.5s;
}

/*Valittuna oleva jää harmaaksi:*/
.selected {
    background-color: #c4c4c4;
    color: rgb(0, 0, 0) !important;
    border-radius: 0.3rem;
}

/* Hover-efekti linkeille */
.navbar a:hover {
    background-color: #c4c4c4;
    border-radius: 0.3rem;
    color: black;
}

@media (max-width: 800px) {
    .navbar {
        flex-wrap: wrap;
    }
    .navbar a {
        padding: 0.8rem 1rem; /* Pienennä sisäisiä välejä */
        width: 100%; /* Tee linkeistä näytön levyiset */
        text-align: center;
    }
}

/*Alatunniste:*/
footer {
    border-top-style: groove;
    text-align: center;
}
