@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Poppins, sans-serif;
    font-size: 1rem; /* Pääfonttikoko suhteessa oletusfonttikokoon */
    line-height: 1.5; /* Riviväli */
    color: #333;
}

main {
    margin-top: 6rem;
    margin-bottom: 4rem;
    width: 65%;
    min-height: 80vh;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 4rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 100;
    margin: 0;
}

p {
    margin: 0;
}

.videolinkki {
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.815);
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    transition: color 0.5s;
}

/* Hover-efekti linkeille */
.videolinkki:hover {
    color: rgba(0, 0, 0, 0.897);
}

.icon {
    vertical-align: middle;
    height: clamp(2rem, 6vh, 8rem);
    width: auto;
}

.kahvijasydan {
    font-size: 2rem;
}

.tools {
    margin: 0;
}

.kuvaboksi {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.kuvaboksi img {
    width: clamp(20rem, 50%, 55rem);
    height: auto;
}

.kuva1 {
    border-radius: 1rem;
    margin-bottom: 2.2rem;
}

.lyhytvideo-asettelu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.lyhytvideo-asettelu img {
    width: clamp(18rem, 40%, 20rem);
    margin: 0;
}

.tutkielmaimg {
    width: clamp(20rem, 90%, 50rem);
    border-style: solid;
}

.tutkielma-kuvaus {
    flex: 1;
}

.applettikuva {
    width: clamp(18rem, 60%, 35rem);
    border-style: solid;
}

@media (max-width: 800px) {
    main {
        width: 90%;
        margin-top: 8rem;
    }
    .lyhytvideo-asettelu img {
        margin: auto;
    }
}