@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: Poppins, sans-serif;
    font-size: 1.2rem; /* Pääfonttikoko suhteessa oletusfonttikokoon */
    line-height: 1.8; /* Riviväli */
    background-color: #2A2A2A;
}

main {
    margin-top: 0rem;
    width: 100%;
}

.intro {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: #F4F4F4;
}

.intro-text {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    margin: 20%;
}

.intro-text p{
    margin: 0;
}

.name {
    font-weight:100;
    font-size: clamp(2rem, 5vw, 5rem);
}

.intro-picture {
    max-height: 100%;
    margin-right: 15%;
    width: auto;
}

/* Portfolion linkin tyyli */
.intro-text a {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #F2F2F2;
    font-size: 1.2rem;
    justify-content: center; /* Keskittää tekstin vaakasuunnassa */
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: rgb(116, 116, 116);
    transition: background-color 0.5s;
}

.intro-text a:hover {
    background-color: #c4c4c4;
    color: black;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .intro-text {
        margin: 1rem;
    }
}

@media (min-width: 801px) and (max-width: 1300px) {
    .intro-text {
        margin: 5%;
    }
    .intro-picture {
        margin-right: 0rem;
    }
}
